<section class="perguntas-frequentes">
    <h2 class="perguntas-frequentes__titulo">Frequently ask question</h2>
    <p class="perguntas-frequentes__descricao">
        Be a self-service superhero by providing your customerswith an FAQ section through a company knowledge base. Read on to learn how.
    </p>
    <div class="sanfona">
        <div class="perguntas-frequentes__sanfona">
            <h3 class="sanfona__titulo">What mostly peoplt want to ask no. 1</h3>
            <p class="sanfona__pergunta">
                Our professional resume templates can increase your chances of success and make an impression on employers. Syfi's templates clearly tell your story and make content easily readable.
            </p>
        </div>
        <div class="perguntas-frequentes__sanfona">
            <h3 class="sanfona__titulo">What mostly peoplt want to ask no. 2</h3>
            <p class="sanfona__pergunta">
                Our professional resume templates can increase your chances of success and make an impression on employers. Syfi's templates clearly tell your story and make content easily readable.
            </p>
        </div>
        <div class="perguntas-frequentes__sanfona">
            <h3 class="sanfona__titulo">What mostly peoplt want to ask no. 3</h3>
            <p class="sanfona__pergunta">
                Our professional resume templates can increase your chances of success and make an impression on employers. Syfi's templates clearly tell your story and make content easily readable.
            </p>
        </div>
    </div>
    <a href="#" class="perguntas-frequentes__ver-mais" rel="follow next" target="_self">Read Other FAQ's</a>
</section>
