<section class="inscrever">
    <h2 class="inscrever__titulo">Generix</h2>
    <div class="inscrever__container">
        <p class="container__texto">
            This is the usefull template from Sebo. You can buy this on our website
        </p>
        <form action="#" method="POST" autocomplete="off" id="formulario" class="container__formulario">
            <input type="email" name="email" id="email" class="formulario__email" placeholder="Your email" minlength="8" required>
            <button type="submit" form="formulario" class="formulario__botao" x-moz-errormessage="Por favor, insira um e-mail válido">Subscribe</button>
        </form>
    </div>
</section>
