<section class="sobre-recursos">
    <div class="sobre-recursos__imagem-ilustrativa"></div>
    <h2 class="sobre-recursos__titulo">Feel in control, give peace of mind</h2>
    <p class="sobre-recursos__texto">
        Sometimes features require a short description. This can be detailed description or just a short text
    </p>
    <article class="sobre-recursos__vantagens">
        <i class="vantagens__icone"></i>
        <div class="vantagens__conteudo">
            <h3 class="vantagens__titulo">Set goals & plan gifts</h3>
            <p class="vantagens__texto">
                Sometimes features require a short description. This can be detailed description or just a short text
            </p>
        </div>
    </article>
    <article class="sobre-recursos__vantagens">
        <i class="vantagens__icone"></i>
        <div class="vantagens__conteudo">
            <h3 class="vantagens__titulo">Set goals & plan gifts</h3>
            <p class="vantagens__texto">
                Sometimes features require a short description. This can be detailed description or just a short text
            </p>
        </div>
    </article>
    <article class="sobre-recursos__vantagens">
        <i class="vantagens__icone"></i>
        <div class="vantagens__conteudo">
            <h3 class="vantagens__titulo">Set goals & plan gifts</h3>
            <p class="vantagens__texto">
                Sometimes features require a short description. This can be detailed description or just a short text
            </p>
        </div>
    </article>
    <a href="#" class="sobre-recursos__aprender-mais" target="_self" rel="follow next">Learn More</a>
</section>
