<aside class="lateral">
    <ul class="lateral__lista">
        <li class="lista__item">
            <a href="#" class="item__link" rel="follow next" target="_self">About</a>
        </li>
        <li class="lista__item">
            <a href="#" class="item__link" rel="follow next" target="_self">Services</a>
        </li>
        <li class="lista__item">
            <a href="#" class="item__link" rel="follow next" target="_self">Customer Stories</a>
        </li>
        <li class="lista__item">
            <a href="#" class="item__link" rel="follow next" target="_self">Help</a>
        </li>
        <li class="lista__item">
            <a href="#" class="item__link" rel="follow next" target="_self">Contact</a>
        </li>
    </ul>
</aside>
