.inicial {
    background-color: #D5E4F6;
    box-sizing: border-box;
    padding: 4em 1.5em 1em;
    text-align: center;
}

.inicial__titulo {
    color: #2E3E97;
    font-size: 48px;
    font-weight: 700;
}

.desktop {
    display: none;
}

.inicial__descricao {
    color: #828282;
    font-size: 18px;
    font-weight: 500;
    margin: 1.5rem 0 2em;
}

.inicial__botao {
    background-color: #2E3E97;
    border-radius: 16px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 6em;
    padding: 1em 0;
    text-decoration: none;
    transition: background-color .3s ease-in-out;
    width: 80%;
}

.inicial__botao:hover {
    background-color: #1f2966;
}

.inicial__botao:active {
    background-color: #1f2866d3;
}

.inicial__imagem {
    background: url("../../../../assets/imagens/familia.webp") no-repeat center center / cover;
    border: 4px solid #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    height: 300px;
    margin-bottom: 5em;
    padding: 2em 0;
    text-align: center;
    transform: rotateZ(2deg);
    width: 100%;
}

@media screen and (min-width: 1440px) {
    .inicial {
        column-gap: 67px;
        display: grid;
        grid-template: repeat(3, auto) / repeat(2, 50%);
        padding: 4em 8em 4em;
        text-align: left;
    }

    .inicial__titulo {
        font-size: 50px;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .inicial__botao {
        margin-bottom: 0;
        text-align: center;
        width: 100%;
    }

    .inicial__imagem {
        grid-area: 1/2/4/3;
        height: 100%;
    }
}
