<section class="sobre-servicos">
    <h2 class="sobre-servicos__titulo">Get the right protection to keep moving forward</h2>
    <p class="sobre-servicos__texto">
        From customized auto insurance to superior claims service, our people and technology will support you every step of the way. Join us today and experience why we're one of the best insurance companies
    </p>
    <article class="sobre-servicos__card-info">
        <h3 class="card-info__titulo">Saving</h3>
        <span class="card-info__info">$750+</span>
    </article>
    <article class="sobre-servicos__card-info">
        <h3 class="card-info__titulo">Members</h3>
        <span class="card-info__info">18 M+</span>
    </article>
    <article class="sobre-servicos__card-info">
        <h3 class="card-info__titulo">Support</h3>
        <span class="card-info__info">24 hr</span>
    </article>
</section>
