.cabecalho {
    align-items: center;
    background-color: #D5E4F6;
    display: grid;
    grid-template: auto / auto 1fr;
    padding: 2em 1.5em 0;
}

.cabecalho__menu-hamburguer i::before {
    content: url("../../../assets/imagens/icones/menu-hamburguer.png");
    cursor: pointer;
}

.cabecalho__titulo {
    font-size: 26px;
    font-weight: 700;
    justify-self: center;
}

.cabecalho__titulo::before {
    content: url("../../../assets/imagens/icones/logo.png");
    display: inline-block;
    width: 24px;
}

.cabecalho__botao {
    display: none;
}

@media screen and (min-width: 1440px) {
    .cabecalho {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 2em 8em 0;
    }

    .cabecalho__menu-hamburguer i::before {
        display: none;
    }

    .cabecalho__titulo, .cabecalho__container {
        flex-grow: 1;
    }

    .cabecalho__container {
        display: flex;
        column-gap: 16px;
        justify-content: flex-end;
    }

    .cabecalho__botao {
        border-radius: 16px;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        font-size: 18px;
        padding: 1em 0;
        text-align: center;
        text-decoration: none;
        transition: background-color .3s ease-in-out;
        width: 25%;
    }

    .cabecalho__login {
        background-color: #FFFFFF;
        color: #2E3E97;
    }

    .cabecalho__quotes {
        background-color: #2E3E97;
        color: #FFFFFF;
    }
}
