<section class="sobre-planos">
    <div class="sobre-planos__imagem-ilustrativa"></div>
    <h2 class="sobre-planos__titulo">Feel in control, give peace of mind</h2>
    <p class="sobre-planos__texto">
        Sometimes features require a short description. This can be detailed description or just a short text
    </p>
    <div class="vantagens__container">
        <article class="sobre-planos__vantagens">
            <i class="vantagens__icone"></i>
            <div class="vantagens__conteudo">
                <h3 class="vantagens__titulo">Set goals & plan gifts</h3>
                <p class="vantagens__texto">
                    Sometimes features require a short description. This can be detailed description or just a short text
                </p>
            </div>
        </article>
        <article class="sobre-planos__vantagens">
            <i class="vantagens__icone"></i>
            <div class="vantagens__conteudo">
                <h3 class="vantagens__titulo">Set goals & plan gifts</h3>
                <p class="vantagens__texto">
                    Sometimes features require a short description. This can be detailed description or just a short text
                </p>
            </div>
        </article>
        <article class="sobre-planos__vantagens">
            <i class="vantagens__icone"></i>
            <div class="vantagens__conteudo">
                <h3 class="vantagens__titulo">Set goals & plan gifts</h3>
                <p class="vantagens__texto">
                    Sometimes features require a short description. This can be detailed description or just a short text
                </p>
            </div>
        </article>
    </div>
    <a href="#" class="sobre-planos__aprender-mais" target="_self" rel="follow next">Learn More</a>
</section>
