<section class="carroussel">
    <h2 class="carroussel__titulo">More then 300,00 clients trust Generix</h2>
    <div class="carroussel__container">
        <article class="container__item-caroussel item-carroussel__ativo">
            <div class="item__carroussel-imagem"></div>
            <blockquote class="item-carroussel__relato">
                Until Generix, I only ever thought of cash as wealth. Now I track all of my stock, investments, will & personal documents with ease.
            </blockquote>
            <p class="item-carroussel__info">
                <span class="info__nome">Shawn Steele</span>
                -
                <span class="info__pais">London, UK</span>
            </p>
        </article>
        <article class="container__item-caroussel">
            <div class="item__carroussel-imagem"></div>
            <blockquote class="item-carroussel__relato">
                Until Generix, I only ever thought of cash as wealth. Now I track all of my stock, investments, will & personal documents with ease.
            </blockquote>
            <p class="item-carroussel__info">
                <span class="info__nome">Shawn Steele</span>
                <span class="info__pais">London, UK</span>
            </p>
        </article>
        <article class="container__item-caroussel">
            <div class="item__carroussel-imagem"></div>
            <blockquote class="item-carroussel__relato">
                Until Generix, I only ever thought of cash as wealth. Now I track all of my stock, investments, will & personal documents with ease.
            </blockquote>
            <p class="item-carroussel__info">
                <span class="info__nome">Shawn Steele</span>
                <span class="info__pais">London, UK</span>
            </p>
        </article>
    </div>
    <a href="#" class="carroussel__ver-mais" rel="follow next" target="_self">See other reviews</a>
</section>
