<section class="companias">
    <h2 class="companias__titulo">Companies we've helped build a better future</h2>
    <ul class="companias__lista">
        <li class="lista__compania">Google</li>
        <li class="lista__compania">Creative Market</li>
        <li class="lista__compania">airbnb</li>
        <li class="lista__compania">shopify</li>
        <li class="lista__compania">amazon</li>
        <li class="lista__compania">Dropbox</li>
        <li class="lista__compania">Spotify</li>
        <li class="lista__compania">asana</li>
    </ul>
</section>
