<section class="passos">
    <h2 class="passos__titulo">Simples step to do</h2>
    <ul class="passos__lista">
        <li class="lista__item primeiro-item">
            <h3 class="item__titulo">First step</h3>
            <p class="item__descricao">
                Sometimes features require a short description. This can be detailed description or just a short text
            </p>
        </li>
        <li class="lista__item segundo-item">
            <h3 class="item__titulo">Second step</h3>
            <p class="item__descricao">
                Sometimes features require a short description. This can be detailed description or just a short text
            </p>
        </li>
        <li class="lista__item terceiro-item">
            <h3 class="item__titulo">Third step</h3>
            <p class="item__descricao">
                Sometimes features require a short description. This can be detailed description or just a short text
            </p>
        </li>
    </ul>
</section>
